*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #111827;
    color: white;
    font-family: "Yu Gothic UI", sans-serif;
    overflow-x: hidden;
    opacity: 1;
    transition: opacity .8s ease;
}


/*リンク*/
a{
    text-decoration: none;
    color: inherit;
}


/*リスト*/
ul{
    list-style: none;
}


img{
    max-width: 100%;
    display: block;
}


/*transition画面*/
#transition-message{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.95);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    visibility:hidden;
    transition:.8s;
    z-index:9999;
}

#transition-message.show{
    opacity:1;
    visibility:visible;
}


/*メッセージ*/
.transition-content{
    text-align:center;
}

.transition-content p{
    color:#d4af37;
    font-size:28px;
    letter-spacing:5px;
}


/*線*/
.line{
    width:260px;
    height:2px;
    background:#d4af37;
    margin:30px auto;

}


/*アイコン*/
.book-icon{
    font-size: 55px;
    margin: 25px auto;
    animation: float 2s infinite ease-in-out;
}


/*アニメーション*/
@keyframes float {
    0%{
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0);
    }
}


/*フェードアウト*/
body.fade-out{

    opacity:0;

}