/* 本 */

.overlay{

position:fixed;
width:100%;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:#111827;

z-index:999;

transition:1s;

}

.book{

width:220px;
height:300px;

background:#4b2e18;

border:4px solid #d4af37;

display:flex;

justify-content:center;
align-items:center;

cursor:pointer;

transition:.8s;

}

.book:hover{

transform:scale(1.05);

}

.cover{

text-align:center;

}

.cover p{

margin-top:20px;

letter-spacing:3px;

}

/* トップ */

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

opacity:0;

transition:2s;

}

.hero h3{

color:#d4af37;

margin-bottom:20px;

letter-spacing:5px;

}

.hero h1{

font-size:55px;

margin-bottom:25px;

}

.hero p{

line-height:2;

text-align:center;

margin-bottom:40px;

}

.hero a{

padding:15px 40px;

border:2px solid #d4af37;

text-decoration:none;

color:#d4af37;

}

.hero.show{

opacity:1;

}

/*　フェード用　*/
body{
  opacity:1;
  transition:opacity .8s ease;
}

/*　暗転　*/
body.fade-out{
  opacity:0;
}

/* ===========================
   ページ遷移メッセージ
=========================== */

#transition-message{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    display:flex;

    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.9);

    opacity:0;

    visibility:hidden;

    transition:opacity .8s;

    z-index:9999;

}

#transition-message.show{

    opacity:1;

    visibility:visible;

}

#transition-message p{

    color:#d4af37;

    font-size:22px;

    font-family:"Cinzel", serif;

    letter-spacing:4px;

    opacity:0;

    animation:fadeText .8s forwards;

}

@keyframes fadeText{

    from{

        opacity:0;
        transform:translateY(15px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}