/* ===========================
   Header
=========================== */

.page-header{

    text-align:center;

    margin:100px 0 60px;

}

.page-header h1{

    color:#d4af37;

    font-size:50px;

}

.page-header p{

    margin-top:15px;

    letter-spacing:3px;

    color:#d9d9d9;

}

/* ===========================
   Main
=========================== */

.portfolio-page{

    max-width:1000px;

    margin:auto;

    padding-bottom:100px;

}

/* ===========================
   Thumbnail
=========================== */

.thumbnail{

    margin-bottom:50px;

}

.thumbnail img{

    width:100%;

    border-radius:20px;

    border:2px solid #d4af37;

}

/* ===========================
   Section
=========================== */

.record-section{

    background:#1b2430;

    border:2px solid #d4af37;

    border-radius:20px;

    padding:35px;

    margin-bottom:30px;

    transition:.3s;

}

.record-section:hover{

    transform:translateY(-6px);

    box-shadow:0 0 25px rgba(212,175,55,.25);

}

.record-section h2{

    color:#d4af37;

    margin-bottom:20px;

}

.record-section p{

    line-height:2;

}

.record-section ul{

    padding-left:20px;

}

.record-section li{

    margin-bottom:12px;

}

/* ===========================
   Link
=========================== */

.record-section a{

    color:#d4af37;

}

/* ===========================
   Close Button
=========================== */

.close-book{

    display:inline-block;

    margin-top:40px;

    padding:18px 45px;

    border:2px solid #d4af37;

    border-radius:50px;

    color:#d4af37;

    transition:.3s;

}

.close-book:hover{

    background:#d4af37;

    color:#0f172a;

}