/* ===========================
   Page Header
=========================== */

.page-header{

    text-align:center;

    margin:100px 0 60px;

}

.page-header h1{

    font-size:48px;

    color:#d4af37;

    margin-bottom:15px;

}

.page-header p{

    color:#ddd;

}

/* ===========================
   Profile Card
=========================== */

.profile-card{

    max-width:1000px;

    margin:auto;

    display:flex;

    gap:50px;

    align-items:center;

    padding:40px;

    background:#1b2430;

    border:2px solid #d4af37;

    border-radius:20px;

}

.profile-image{

    flex:1;

    text-align:center;

}

.profile-image img{

    width:250px;

}

.profile-text{

    flex:2;

}

.profile-text h2{

    color:#d4af37;

    margin-bottom:20px;

}

.profile-text p{

    line-height:2;

}

/* ===========================
   Info
=========================== */

.profile-info{

    max-width:1000px;

    margin:60px auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

}

.info-box{

    background:#1b2430;

    padding:30px;

    border:2px solid #d4af37;

    border-radius:15px;

    transition:.3s;

}

.info-box:hover{

    transform:translateY(-8px);

}

.info-box h3{

    color:#d4af37;

    margin-bottom:15px;

}

/* ===========================
   Next
=========================== */

.next-page{

    text-align:center;

    margin:100px 0;

}