.records{

    padding:120px 10%;

    text-align:center;

}

.records h2{

    font-size:42px;

    color:#d4af37;

    margin-bottom:15px;

}

.sub{

    color:#ccc;

    margin-bottom:70px;

}

.cards{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:40px;

}

.card{

    width:300px;

    padding:35px;

    border:2px solid #d4af37;

    border-radius:12px;

    background:#1b2430;

    transition:.3s;

}

.card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 25px rgba(212,175,55,.4);

}

.card h3{

    margin-bottom:20px;

}

.card p{

    margin-bottom:30px;

    color:#ddd;

}

.card a{

    display:inline-block;

    padding:10px 25px;

    border:1px solid #d4af37;

    color:#d4af37;

    transition:.3s;

}

.card a:hover{

    background:#d4af37;

    color:#111827;

}

.card{

    opacity:0;

    transform:translateY(50px);

}

.card.show{

    opacity:1;

    transform:translateY(0);

    transition:1s;

}