.records{

    padding:120px 10%;
    text-align:center;

}

.records h2{

    color:#d4af37;
    font-size:48px;
    margin-bottom:15px;
    font-family:"Cinzel",serif;

}

.sub{

    color:#d9d9d9;
    margin-bottom:80px;

}

/* 本棚 */

.cards{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:50px;

}

/* 魔導書 */

.book-card{

    width:360px;

    background:#1b2430;

    border:2px solid #d4af37;

    border-radius:15px;

    overflow:hidden;

    transition:.4s;

    position:relative;

}

/* ホバー */

.book-card:hover{

    transform:translateY(-12px);

    box-shadow:0 0 35px rgba(212,175,55,.4);

}

/* 金色の光 */

.book-card::before{

    content:"";

    position:absolute;

    top:0;
    left:-120%;

    width:60%;
    height:100%;

    background:linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,.35),
        transparent
    );

    transition:.8s;

}

.book-card:hover::before{

    left:150%;

}

/* 表紙 */

.book-cover{

    padding:25px;

}

.volume{

    color:#d4af37;

    letter-spacing:3px;

    margin-bottom:20px;

}

/* サムネイル */

.thumbnail{

    width:100%;

    height:220px;

    border:2px dashed #d4af37;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#d4af37;

    border-radius:10px;

}

/* 本文 */

.book-content{

    padding:30px;

    text-align:left;

}

.book-content h3{

    margin-bottom:15px;

}

.language{

    color:#d4af37;

    margin-bottom:25px;

}

.info p{

    margin-bottom:20px;

    line-height:1.8;

}

.info strong{

    color:#d4af37;

}

/* ボタン */

.open-book{

    display:block;

    text-align:center;

    margin-top:30px;

    padding:15px;

    border:1px solid #d4af37;

    border-radius:50px;

    color:#d4af37;

    transition:.3s;

}

.open-book:hover{

    background:#d4af37;

    color:#111827;

}

.book-card{

    opacity:1;

    transform:translateY(0);

}

.book-card.show{

    opacity:1;

    transform:translateY(0);

    transition:1s;

}

/* ===========================
   ページ遷移
=========================== */

body{

    opacity:1;

    transition:opacity .8s ease;

}

body.fade-out{

    opacity:0;

}

#transition-message{

    position:fixed;

    inset:0;

    background:rgba(8,8,10,.95);

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:0;

    visibility:hidden;

    transition:.8s;

    z-index:9999;

}

#transition-message.show{

    opacity:1;

    visibility:visible;

}

.transition-content{

    text-align:center;

}

.transition-content p{

    color:#d4af37;

    font-size:28px;

    letter-spacing:6px;

    margin:30px 0;

    font-family:"Cinzel", serif;

    animation:fadeText 1s infinite alternate;

}

.line{

    width:260px;

    height:2px;

    background:#d4af37;

    margin:auto;

}

@keyframes fadeText{

    from{

        opacity:.5;

    }

    to{

        opacity:1;

    }

}